apiVersion: v1
kind: Service
metadata:
  name: api-web
  namespace: kel-system
  labels:
    kelproject.com/cluster-service: "true"
    kelproject.com/name: api-web
  annotations:
    router: '{"config": {}, "hosts": ["{{ cluster.config["layer-1"].api.host }}"]}'
spec:
  selector:
    kelproject.com/name: api-web
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8000

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: api-web
  namespace: kel-system
  labels:
    kelproject.com/name: api-web
    version: {{ version }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      kelproject.com/name: api-web
  template:
    metadata:
      labels:
        kelproject.com/name: api-web
        version: {{ version }}
    spec:
      containers:
      - name: api-web
        image: {{ image }}
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 100m
            memory: 476Mi
        args:
          - start
          - web
        env:
          - name: BUNDLE_URL
            value: https://storage.googleapis.com/release.kelproject.com/bundles/api/api-{{ bundle }}.tgz
          - name: PORT
            value: "8000"
          - name: DJANGO_SETTINGS_MODULE
            value: kel.api.settings_production
          - name: KEL_ENV_SECRETS_PATH
            value: /etc/api-env
          - name: ETCD_ENDPOINTS
            value: {{ cluster.get_etcd_endpoints()|join(",") }}
        ports:
          - containerPort: 8000
            protocol: TCP
        volumeMounts:
          - mountPath: /etc/api-env
            name: api-env
            readOnly: true
      nodeSelector:
        kelproject.com/node-kind: node-1x
      volumes:
        - name: api-env
          secret:
            secretName: api-web-env

---

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: api-web-env
  namespace: kel-system
data:
  cluster-name: {{ b64(cluster.config.name) }}
  cluster-api-host: {{ b64(cluster.config["layer-1"].api.host) }}
  cluster-domain: {{ b64(cluster.config.domain) }}
  database-url: {{ b64("postgresql://%s:%s@api-database.kel-system/%s"|format(cluster.config["layer-1"].api.database.username, cluster.config["layer-1"].api.database.password, cluster.config["layer-1"].api.database.name)) }}
  redis-url: {{ b64("redis://api-cache.kel-system/0") }}
  identity-url: {{ b64(cluster.config["layer-1"]["identity-url"]) }}{% if cluster.config["layer-1"].api.get("opbeat") %}
  opbeat: {{ b64(cluster.config["layer-1"].api.opbeat) }}
{% endif %}
