apiVersion: v1
kind: Service
metadata:
  name: log-store
  namespace: kel-system
  labels:
    kelproject.com/name: log-store
    kelproject.com/cluster-service: "true"
spec:
  selector:
    kelproject.com/name: log-store
  ports:
    - name: http
      port: 9200
      protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: log-store-discovery
  namespace: kel-system
  labels:
    kelproject.com/name: log-store
    kelproject.com/cluster-service: "true"
spec:
  selector:
    kelproject.com/name: log-store
  ports:
    - name: transport
      port: 9300
      protocol: TCP

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: log-store
  namespace: kel-system
  labels:
    kelproject.com/name: log-store
    kelproject.com/cluster-service: "true"
spec:
  replicas: 3
  template:
    metadata:
      labels:
        kelproject.com/name: log-store
    spec:
      containers:
        - name: elasticsearch
          image: {{ image }}
          imagePullPolicy: IfNotPresent
          env:
            - name: KUBERNETES_CA_CERTIFICATE_FILE
              value: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CLUSTER_NAME
              value: log-store
            - name: DISCOVERY_SERVICE
              value: log-store-discovery
          ports:
            - containerPort: 9200
              name: http
              protocol: TCP
            - containerPort: 9300
              name: transport
              protocol: TCP
          securityContext:
            privileged: true
            capabilities:
              add:
                - IPC_LOCK
          volumeMounts:
            - mountPath: /data
              name: storage
      volumes:
          - name: storage
            emptyDir:
              medium: ""
      nodeSelector:
        kelproject.com/node-kind: node-1x
