apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: log-agent
  namespace: kel-system
  labels:
    kelproject.com/name: log-agent
    kelproject.com/cluster-service: "true"
spec:
  selector:
    kelproject.com/name: log-agent
  template:
    metadata:
      name: log-agent
      labels:
        kelproject.com/name: log-agent
    spec:
      containers:
        - name: log-agent
          image: {{ image }}
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 100m
          volumeMounts:
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
